@model PetParentProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="parent-profile">
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" asp-controller="PetParent" asp-action="Profile">Profile</a>
            <a class="nav-link" asp-controller="Pet" asp-action="Add">Add Pet</a>
             <a class="nav-link" asp-controller="PetParent" asp-action="AppointmentList">Appointments</a>
            @*<a class="nav-link" target="__blank">Notifications</a> *@
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2"
                            src="~/Images/profile-picture-petparent-1.jpg" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <button class="btn btn-primary" type="button">Upload new image</button>
                    </div>
                </div>

                <form asp-controller="Appointments" asp-action="TakeUserAppointment" method="get">
                    
                    <div class="col-md-6 pet-select-div">
                        <label class="small mb-1 pet-lab ml-5" for="pets-select">Pets</label>
                        <select name="selectedPetFromProfile" id="pets-select"
                            class="formbold-form-input pets-select ml-5">
                            <option value="0">Select a pet...</option>
                            @if (Model.PetsOfSelectedParent is not null)
                            {
                                @foreach (Pet pet in Model.PetsOfSelectedParent)
                            {
                                <option value="@pet.AnimalId">
                                    @pet.Name</option>
                            }
                            }
                        </select>
                        <p class="info-pet-txt">Select a pet and make an appointment</p>
                        <button class="btn btn-primary pet-add-btn" type="submit">Make appointment</button>
                </form>

                <p class="or-p">OR</p>

                <form asp-controller="Pets" asp-action="Add" method="get">
                    <p class="new-one-txt">Add a new one</p>
                    <button class="btn btn-primary pet-add-btn" type="submit"
                        asp-route-pid="@Model.PetParent.PetParentId">Add a new pet</button>
                </form>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                    <form asp-controller="PetParent" asp-action="Profile" method="post">
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Firstname</label>
                            <input class="form-control" name="FirstName" id="inputUsername" type="text"
                                value="@Model.PetParent.FirstName">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Middle name</label>
                                <input class="form-control" name="MiddleName" id="inputFirstName" type="text"
                                    value="@Model.PetParent.MiddleName">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" name="LastName" id="inputLastName" type="text"
                                    value="@Model.PetParent.LastName">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">DOB</label>
                                <input class="form-control" name="DOB" id="inputOrgName" type="date"
                                    value='@(Model.PetParent.DOB?.ToString("yyyy-MM-dd"))'>
                            </div>
                            <!-- Form Group (location)-->
                            @if (Model.PetParent.Address is not null && Model.PetParent.Address.DistrictId is not null && Model.PetParent.Address.DistrictId is not 0)
                            {
                                <div class="col-md-6 ">
                                    <label class="small mb-1 gndr-lab" for="select-city">
                                        City
                                    </label>
                                    <select name="CityId" id="select-city" class="formbold-form-input gndr-select">
                                        @foreach (City city in Model.CityList)
                                        {
                                            <option value="@city.CityId"
                                        selected="@(city.CityId == Model.PetParent.Address.District.CityId)">
                                                @city.CName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 ">
                                    <label class="small mb-1 gndr-lab" for="select-district">District</label>
                                    <select name="DistrictId" id="select-district" class="formbold-form-input gndr-select">
                                        @foreach (District district in Model.DistrictList)
                                        {
                                            <option value="@district.DName"
                                        selected="@(district.DistrictId == Model.PetParent.Address.DistrictId)">
                                                @district.DName</option>
                                        }
                                    </select>
                                </div>

                                <div class="mb-3">
                                <label class="small mb-1 add-lab" for="inputEmailAddress">Address Details</label>
                                <textarea class="form-control add-detail" name="AddressDetails" id="inputEmailAddress"
                                    type="email" cols="40">@Model.PetParent.Address.AddressDetails</textarea>

                            </div>
                            }

                            @*
                                <label for="select-city" class="formbold-form-label">Select a city and
                                district...*</label>
                                <select name="CityId" id="select-city" class="formbold-form-input select-city mt-2">
                                </select> *@


                            else
                            {
                                <div class="col-md-6 ">
                                    <label class="small mb-1 gndr-lab" for="select-city">
                                        City
                                    </label>
                                    <select name="CityId" id="select-city" class="formbold-form-input gndr-select">
                                    </select>
                                </div>

                                <div class="col-md-6 ">
                                    <label class="small mb-1 gndr-lab" for="select-district">District</label>
                                    <select name="DistrictId" id="select-district" class="formbold-form-input gndr-select">
                                    </select>
                                </div>

                                <div class="mb-3">
                                <label class="small mb-1 add-lab" for="inputEmailAddress">Address Details</label>
                                <textarea class="form-control add-detail" name="AddressDetails" id="inputEmailAddress"
                                    type="email" cols="40"></textarea>

                            </div>
                            }

                            @* <select name="DistrictId" id="select-district"
                                class="formbold-form-input select-district mt-2">
                                </select>
                            *@
                            
                            <div class="formbold-mb-5 mt-3">

                            </div>
                            <div class="col-md-6 ">
                                <label class="small mb-1 gndr-lab" for="inputLocation">Gender</label>
                                <select name="HumanGenderId" id="doctor-preference"
                                    class="formbold-form-input gndr-select">
                                    <option selected value="">Select a gender...</option>
                                    @foreach (HumanGender humangender in Model.HumanGenders)
                                    {
                                        <option value="@humangender.HumanGenderId"
                                        selected="@(humangender.HumanGenderId == Model.PetParent.HumanGenderId)">
                                            @humangender.GName</option>
                                    }
                                </select>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6 p-0">
                                <label class="small mb-1 pron-lab" for="inputLocation">Pronoun</label>
                                <select name="PronounId" id="doctor-preference" class="formbold-form-input pron-select">
                                    <option selected value="">Select a pronoun...</option>
                                    @foreach (Pronoun pronoun in Model.Pronouns)
                                    {
                                        <option value="@pronoun.ProunounId"
                                        selected="@(pronoun.ProunounId == Model.PetParent.PronounId)">@pronoun.PName
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        @if (Model.selectedFormProfileDTO.Emaill is null)
                        {
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" name="Emaill" id="inputEmailAddress" type="email"
                                value="@Model.PetParent.Userr.Emaill">
                            </div>
                        }
                        else
                        {
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" name="Emaill" id="inputEmailAddress" type="email"
                                value="@Model.selectedFormProfileDTO.Emaill">
                            </div>
                        }
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" name="PhoneNumber" id="inputPhone" type="tel"
                                    value="@Model.PetParent.PhoneNumber">
                            </div>
                            <!-- Form Group (birthday)-->
                            @* <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" id="inputBirthday" type="text" name="birthday"
                                placeholder="Enter your birthday" value="06/10/1988">
                                </div> *@
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit" asp-route-pid="@Model.PetParent.PetParentId">Save
                            changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>